

/*Navbar Styles*/
.button_toggle{
    display: none;
    color: #ffffff;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 2rem;
    z-index: 110;
}
.logo{
    margin-top: 0.5rem;
}
.logo img{
    width: 3rem;
    margin: 0.5rem;
}

nav{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 200;
}
.navbar{
    font-family: "BebasNeue", sans-serif;
    position: fixed;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark_cyan);
    width: 100vw;
    height: 4rem;
    padding: 0 1rem;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.5);
}
.navbutton.res{
    display: none;
}
.navbutton{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: left;
    gap: 6rem;
    margin-right: 6rem;
}

.navbutton a{
    text-decoration: none;
    color: var(--white);
}
.navbutton a:hover{
    color: var(--hover);
}

/*Section Main*/
.startPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: calc(4rem + 6vw);
    padding: 0 5rem;
    gap: 2rem;
}
.frame{
    display: flex;
    position: relative;
    overflow: hidden;
    width: auto;
    height: 30rem;
    border-radius: 1rem;
    /*background-color: #898989;*/
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.5);
    align-items: center;
}
.frame img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 5;
}
.frame img.ativo{
    opacity: 1;
    z-index: 10;
}

.startText_lay2{
    display: none;
}

.startTxt{
    display: flex;  
    flex-direction: column;
    width: 40vw;
    height: 30rem;
    /*background-color: #898989;*/
}
.startTxt h2, .startText_lay2 h2{
    display: flex;
    font-family: 'BebasNeue', serif;
    color: var(--dark_cyan);
    margin: 1rem 0rem 0;
    font-size: 3.5rem;
    justify-content: center;
}
#sub1, #sub2{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--std_lightblue);
}
#textHome{
    margin-top: 2rem;
    font-size: 1.75vw;
    color: var(--light_gray);
    text-align: justify;
}

/*Middle Text and Hexagon Sector*/

.middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: calc(45rem + 6vw);
    padding: 0 5rem;
    height: 20rem;
    gap: 1rem;
}
.hexFrame{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.hexFrame img{
    width: 20rem;
    height: 20rem;
    rotate: -45deg;
    overflow: hidden;
}

.middleText{
    display: flex;
    width: auto;
    align-items: center;
}

#textHex{
    font-size: 1.75vw;
    color: var(--light_gray);
    text-align: justify;
}

/*The final text sector*/

.finalText{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: calc(75rem + 6vw);
    padding: 0 5rem;
    gap: 1rem;
}
.textSpan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textSpan p{
    text-align: justify;
    color: var(--light_gray);
    font-size: 1.25rem;
    border-top: 5px solid var(--dark_cyan);

}
.spanTitle{
    font-size: 2rem;
    color: var(--dark_cyan);
    font-family: 'BebasNeue', serif;
}

/*Footer sector*/
.pageFeet{
    display: flex;
    width: 100vw;
    position: relative;
    top: calc(70rem + 6vw);
    height: 7rem;
    justify-content: center;
    align-items: center;
    background-color: var(--dark_cyan);

}
.pageFeet p{
    color: var(--white);
    font-size: 1rem;
}

