/*Navbar media query*/
@media(max-width: 768px){
    .navbar{
        padding: 0;
        margin: 0;
    }
    .button_toggle{
        display: block;
        z-index: 110;
    }
    .navbutton{
        display: none;
    }
    .navbutton.res{
        display: flex;
        position: fixed;
        top: -100rem;
        margin: 0;
        width: 100vw;
        height: auto;
        background-color: rgba(0, 64, 91, 0.95);
        transition: top 0.5s ease;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0.5rem;
        align-items: center;
    }
    .navbutton.res.show{
        top: 4rem;
        z-index: 110;
    }
    .navbutton li a{
        display: block;
        color:var(--white);
        font-size: 2rem;
    }
    #langMain, #langSec{
        font-size: 1.5rem;
    }
}

/*Start Page Sector*/

@media(max-width: 1400px){
    .frame{
        width: 30rem;
    }
    .startTxt{
        width: 35vw;
    }
}
@media(max-width: 1200px){
    .startPage{
        padding: 0 5rem;
    }
    .frame{
        width: auto;
    }
    .startTxt{
        width: 25rem;
    }
}
@media(max-width: 1000px){
    .startPage{
        padding: 0 16px;
        max-width: calc(100vw - 16px);
    }
    #textHome{
        font-size: 1.5rem;
    }
}
@media(max-width: 768px){
    .startPage{
        display: flex;
        position: static;
        margin-top: 4rem;
        flex-direction: column;
        max-width: 100vw;
        align-items: center;
    }
    .frame{
        width: 95vw;
    }
    .startTxt{
        width: 95vw;
        height: auto;
    }
    .startTxt h2, #sub1{
        display: none;
    }
    .startText_lay2{
        display: flex;
        flex-direction: column;
        width: 95vw;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 450px){
    .startText_lay2 h2{
        font-size: 3rem;
    }
    #sub2{
        font-size: 1rem;
    }
}

/*Middle Text and Hexagon Sector*/

@media(max-width: 768px){
    .middle{
        display: flex;
        align-items: center;
        position: static;
        flex-direction: column;
        margin-top: 4rem;
        padding: 0 16px;
        height: auto;
    }
    #textHex{
        font-size: 1.5rem;
    }
    .hexFrame{
        width: 20rem;
        height: 20rem;
    }
    .hexFrame img{
        width: 75%;
        height: 75%;
    }
}

/*Final text sector*/

@media(max-width: 768px){
    .finalText{
        display: flex;
        flex-direction: column;
        position: static;
        padding: 0 16px;
        margin-top: 4rem;
    }
}

/*Footer sector*/

@media(max-width: 768px){
    .pageFeet{
        position: static;
        margin-top: 5rem;
    }
}